future
emoji
requests
telethon==1.16.4
sqlalchemy==1.3.20
python-telegram-bot==12.8
psycopg2-binary
pythonping
feedparser
pytz
gtts
bs4
lxml
demjson3
wget
bs4
telegraph
Pillow>=4.2.0
psutil
speedtest-cli>=2.0.2
googletrans
wikipedia
spamwatch>=0.3.0
bleach
markdown2
alphabet_detector
zalgo-text
gTTs 
gTTs-token
pyfiglet
beautifulsoup4
pytz
google-api-python-client
pyDownload
telegraph
aria2p
cowpy
psutil 
hachoir
tswift
pySmartDL
pybase64
git+https://github.com/rachmadaniHaryono/we-get.git
coffeehouse==2.2.4
html2text
spotdl
fortune
coffeehouse==2.2.4
python-barcode
PyDictionary
chromedriver
selenium
argparse
numpy
youtube-dl
google-api-python-client
ffprobe
ffmpeg
html2text
fontTools
TgCrypto
pyrogram==1.0.1
psycopg2
telepot==12.0
